.footer{
  text-align: right;
}
.createFormBox{
  padding: 1vh 0 0 0;
  height: 68vh;
  overflow-y: auto;
  ::v-deep {
    .ruleList {
      .el-transfer-panel {
        width: calc(50% - 92px);
        .el-transfer-panel__body {
          height: 50vh;
          .el-transfer-panel__list.is-filterable {
            height: calc(100% - 52px);
          }
        }
      }
    }
  }
  .el-card{
    position: relative;
    .el-card__body{
      .ruleBox {
        height: calc(68vh - 170px);
        overflow: auto;
        white-space: nowrap;
      }
    }
    .el-switch__label *{
      font-size: 12px;
    }
    .testvarList{
      height: calc(68vh - 170px);
      overflow: auto;
      .el-button{
        margin: 0 15px 15px 0;
      }
    }
  }
}
.ruleChild{
  display: inline-block;
  border:solid 1px #d9ecff;
  text-align: center;
  &.active{
    background: #ecf5ff;
    .ruleChildTitle{
      background: #ecf5ff;
    }
  }
  .ruleChildLine{
    position: relative;
    .ruleVar {
      padding: 10px;
      border-bottom: solid 1px #d9ecff;
      &:last-of-type {
        border: none;
      }
      &.active{
        background: #ecf5ff;
      }
    }
  }
  .ruleChildTitle{
    background: #fff;
    padding: 0 5px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    border-bottom: solid 1px #d9ecff;
    cursor: pointer;
  }
}